
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.header{
    height: 100px;
    background-color:white;
    position: relative;
    margin: auto 0;
}

header::after{
    content: "";
    display: block;
    background-color: black;
    opacity: 0.1;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;

}


/* Navigation */

.navigation{
    display: flex;
    padding: 40px 80px;
    justify-content: space-between;
    align-items: center;
}

.img__logo{
    width:110px;
    height:30px;
}

.nav__elements{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    
}

.nav__link{
    position: relative;
    margin-right: 50px;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.nav__link:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #18272F;
    top: 15px;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav__link:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}


.nav__link:last-child{
    margin-right: 0px;
}



.nav__elements__icons{
    display: flex;
    flex-direction: row;
}


.nav__link__icon{
    position: relative;
    width: 22px;
    height: 22px;
    margin-right: 40px;
}

.nav__link__icon::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #18272F;
    top: 24px;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav__link__icon:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}


/* Featured__recipe */

.featured__recipe__block{
    display: flex;
    flex-direction: row;
    padding: 40px 80px 140px 80px;
    position: relative;
}

.fr__block__blue{
    background-color: #E7FAFE;
    width: 610px;
    height: 590px;
    border-top-left-radius:8%;
    border-bottom-left-radius:8%;
}
.fr__block__img{
    width: 670px;
    
 
}
.img__featured__recipe{
    width: 100%;
    height: 590px;
    border-top-right-radius:8%;
    border-bottom-right-radius:8%;
}

.img__bradge{
    width: 180px;
    height: 150px;
    position: absolute;
    top: 9%;
    left: 43%;
}

.fr__content{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.fr__mark__label{
    display: flex;
    flex-direction: row;
    gap: 13px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    width: 136px;
    height: 40px;
    margin-top: 50px;
    box-shadow: 10px 20px 40px 0px rgba(41,64,70,0.1);
}

.fr__mark__label__text{
    font-size: 12px;
    font-weight: 600;
}

.fr__img__paper{
    width: 20px;
    height: 20px;
}


.fr__title__text{
    margin-top: 32px;
    font-size: 56px;
    font-weight: 600;
    color: black;
    letter-spacing: -2px;
    line-height: 1.2;
}

.fr__subtitle__text{
    margin-top: 24px;
    font-size: 14px;
    color: #000;
    opacity: 0.6;
    line-height: 1.9;
}


.fr__charachteristic__recipe{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 30px;
}

.fr__time{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #DBEEF1;
    width: 130px;
    height: 35px;
    border-radius: 30px;
}


.fr__icon__time, .fr__icon__type{
    width: 20px;
    height: 20px;
}

.fr__text__time, .fr__text__type{
    color: #000;
    font-size: 12px;
    font-weight: 500;
    opacity: 0.6;
}

.fr__type{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #DBEEF1;
    width: 120px;
    height: 35px;
    border-radius: 30px;
}


.fr__author__and__viewbtn{
    margin-top: 95px;
    display: flex;
    flex-direction: row;
    gap: 115px;
}

.fr__author{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.fr__img__author{
    width: 50px;
    height: 50px;
}

.fr__author__text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fr__author__name{
    font-size: 14px;
    font-weight: 700;
}

.fr__author__time__publ{
    font-size: 12px;
    font-weight: 500;
    color:#000;
    opacity: 0.6;
}

.fr__view__btn{
    background-color: #000;
    width: 180px;
    height: 55px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    transition: all 0.4s ease-out;
}

.fr__view__btn:hover{
    background-color: #ffffff;
    box-shadow: 0px 0px 11px 0px rgba(41,41,41,1);
    cursor: pointer;
    color: #000;
    
}

.fr__view__btn__text{
    font-size: 12px;
    font-weight: 600;
}


.fr__view__btn__img__white, .fr__view__btn__img__black{
    width: 22px;
    height: 22px;
   
}

.fr__view__btn__img__black{
    display: none;
  
}


/* Categories*/

.categories__block{
    display: flex;
    flex-direction: column;
    padding: 0 80px 165px 80px;
}

.c__btn__and__title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.c__title{
   letter-spacing: -3px;
   font-size: 44px;
   font-weight: 600;
}

.c__view__all__catogories__btn{
    display: flex;
    width: 185px;
    height: 55px;
    background-color: #E7FAFE;
    border-radius: 16px;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: all 0.4s ease-out
}
.c__view__all__catogories__btn:hover{
    box-shadow: 0px 0px 11px 0px rgba(41,41,41,1);
    cursor: pointer;
}
.c__btn__text{
    font-size: 14px;
    font-weight: 600;
    
}

.c__items{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


}
.c__element{
    width: 160px;
    height: 178px;
    position: relative;
    transition: all 0.3s;
}

.c__element:hover{
    transform: translateY(-25px);
    cursor: pointer;
}

.c__img__elem{
    display: flex;
    position:absolute ;
    width: 90px;
    height: 90px;
    top: 3px;
    left: 22%;
    z-index: 4;
    border-radius: 30px;
}

.c__elem__shadow{
    z-index: 2;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 32%;
}

.c__rectangle{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 122px;
    border-radius: 30px;
    z-index: 1;
}

.c__elem__text{
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    z-index: 2;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
}


/* Recipes*/

.recipes__block{
    display: flex;
    flex-direction: column;
    padding: 0 80px 180px 80px;
}

.r__title{
    text-align: center;
    font-size: 43px;
    font-weight: 600;
    color: #000;
}

.r__subtitle{
    font-size: 14px;
    opacity: 0.7;
    word-spacing: 2px;
    line-height: 1.2;
}

.r__subtitle__wrapper{
    margin: 24px auto 0;
    text-align: center;
    width: 100%;
    max-width: 620px;
}

.r__items{
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.r__element{
    width: 346px;
    height: 380px;
    background: linear-gradient(180deg, rgba(231,249,253,0) 0%, rgba(231,249,253,1) 100%);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 22px;
}

.r__elem__img{
    margin: 16px 16px 24px 16px;
    border-radius: 20px;
    height: 210px;
}

.r__elem__title{
    font-size: 22px;
    font-weight: 600;
    margin: 0 24px;
    letter-spacing: -1px;
    line-height: 1.3;
}

.r__elem__characteristics{
    margin-top: 22px;
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.r__elem__time, .r__elem__type{
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
}

.r__elem__time__img, .r__elem__type__img{
    width: 22px;
    height: 22px;
}

.r__elem__time__text, .r__elem__type__text{
    font-size: 13px;
    font-weight: 500;
    opacity: 0.8;
}

.r__elem__nolike{
    display: block;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 32px;
    left: 78%;
    transition: transform 0.3s ease;
}

.r__elem__nolike:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.r__elem__like{
    display: none;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 32px;
    left: 78%;
    transition: transform 0.3s ease;
}

.r__elem__like:hover{
    cursor: pointer;
    transform: scale(1.2);
}


@keyframes likeAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes nolikeAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.like-animation {
    animation: likeAnimation 0.3s forwards;
}

.nolike-animation {
    animation: nolikeAnimation 0.3s forwards;
}
